.container {
  padding: 0 0.5rem;
}

.row {
  display: flex;
}

.col-100 {
  flex-basis: 100%;
}

.col-50 {
  flex-basis: 50%;
}

.align-items-center {
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}
