body {
  color: #fff;
  background-color: #424549;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #5667a6;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  padding: 1rem 0;
  margin: 0;
}

main {
  margin-top: 70px;
}

.card-wrapper {
  padding-bottom: 0.5rem;
}

.card-wrapper:nth-child(odd) {
  padding-right: 0.25rem;
}

.card-wrapper:nth-child(even) {
  padding-left: 0.25rem;
}

.card {
  background-color: #282b30;
  height: 11.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.thumbnail,
.title {
  height: 90px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.title {
  overflow: hidden;
}

.title h4 {
  line-height: 2.25rem;
  padding-top: 0.5rem;
  margin: 0;
}
